<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
  
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <title>title</title>

    <style>
        .centered {
            background-image:url('banner.png');
            width: 100%;
            height: 20%;
            vertical-align: middle;
            line-height: 300px;
            font-size: 80px;
            text-align: center;
            font-family:serif;
            color: rgba(255,255,255,0.8);
        }

        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            background: rgba(0,0,10,0.8);
        }

        #player {
            position:absolute;

            top: 25%;
        }

        .player-div{
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            margin: 0;
        }

        .loader {
            height: 380px;
            width: 300px;
            background: white;
        }

        .footer {
            height: 20%;
            vertical-align: middle;
            text-align: center;
        }

        a{
            color: rgba(255,255,255,0.8);
        }
    </style>
  </head>
  <body>
        <div class="centered"></div>
        <div class="player-div">
            <iframe id="player" src="https://open.spotify.com/embed/track/<%-uri%>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="footer">
            <a href="http://localhost:8080/">Try another image</a>
        </div>
  </body>
</html>